html{
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  min-width: 100vh
}

#root {
  height: 100%;
  margin: 0;
}

#App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#Footer {
  background-color:lightgray;
  position: fixed;
  bottom: 0;
  padding: 10px;
  
}

.card {
  margin: 20px;
}


#formLabel {
  margin-top: 20px;
  margin-bottom: 50px;
}

.media {
  align-items: center;
}


ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
